AgentTemplate/Service References/Proxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgentPingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentPingResponse" nillable="true" type="tns:AgentPingResponse" />
  <xs:complexType name="AgentAcknowledgeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AgentAcknowledgeResponse" nillable="true" type="tns:AgentAcknowledgeResponse" />
</xs:schema>