AgentTemplate/Service References/Proxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetTaskRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TestMode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTaskRequest" nillable="true" type="tns:GetTaskRequest" />
  <xs:complexType name="TaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lock" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskResponse" nillable="true" type="tns:TaskResponse" />
  <xs:complexType name="PostResultsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lock" type="ser:guid" />
      <xs:element minOccurs="0" name="TestMode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostResultsRequest" nillable="true" type="tns:PostResultsRequest" />
</xs:schema>