AgentTemplate/Service References/Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" />
  <xs:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" minOccurs="0" name="PingResult" nillable="true" type="q1:AgentPingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" minOccurs="0" name="request" nillable="true" type="q2:GetTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" minOccurs="0" name="GetTaskResult" nillable="true" type="q3:TaskResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" minOccurs="0" name="request" nillable="true" type="q4:PostResultsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" minOccurs="0" name="PostResultsResult" nillable="true" type="q5:AgentAcknowledgeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>