AgentTemplate/Service References/Proxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Agent.NetTcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.Framework" />
      <xsd:import schemaLocation="http://localhost:42170/Fairburn/AgentTemplate/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IET.Inspec.Fairburn.AgentTemplate.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="IService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PostResults_InputMessage">
    <wsdl:part name="parameters" element="tns:PostResults" />
  </wsdl:message>
  <wsdl:message name="IService_PostResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Ping" message="tns:IService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PingResponse" message="tns:IService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTask" message="tns:IService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTaskResponse" message="tns:IService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PostResults" message="tns:IService_PostResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PostResultsResponse" message="tns:IService_PostResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Agent.NetTcpEndpoint" type="tns:IService">
    <wsp:PolicyReference URI="#Agent.NetTcpEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostResults">
      <soap12:operation soapAction="http://tempuri.org/IService/PostResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Agent.NetTcpEndpoint" binding="tns:Agent.NetTcpEndpoint">
      <soap12:address location="net.tcp://localhost:42171/Fairburn/AgentTemplate/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:42171/Fairburn/AgentTemplate/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>